<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/home_page/index">Home Page</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Friendships (missing) <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/friendships/program">Program</a></li>
            <li><a href="/friendships/events">Events</a></li>
          </ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Our Story (missing)<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Founders (missing)</a></li>
            <li><a href="#">Next Steps (missing)</a></li>
          </ul>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Our Inspiration (missing)<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/inspiration/hannah">Hannah</a></li>
            <li><a href="/inspiration/zachary">Zac</a></li>
          </ul>
        </li>
        <li><a href="#">Donate (missing)</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

