<h1>Friendships#program</h1>
<p>Find me in app/views/friendships/program.html.erb</p>
<h2>Program</h2>
<p>Forging Friendships’ Empathy in Action program teaches traditional children disability etiquette and awareness.  This educational program is taught and integrated into community workshops, school assemblies, camp programs and churches.</p>

<p>The Empathy in Action program is designed to help typical children better understand how it feels to be a young person with a disability, especially when seeing a peer with an intellectual or physical disability for the first time.</p>

<p>This program provides the verbal skill set and emotional tools needed so that the traditional child knows what to say and how to best ask questions to a special needs peer, resulting in a positive reaction.</p>