



<h1>Our Inspiration</h1>

<h2>Hannah</h2>
<p>Forging Friendships was created to honor and celebrate the life of Hannah Noelle who passed away on October 26, 2013.</p>
<p>Hannah’s nickname was “Sunshine Girl,” which described her perfectly.  She was an honor role student and the President of her eighth-grade class.  Bi-lingual in both English and Spanish, Hannah enjoyed learning in an immersion school environment.</p>
<p>Hannah loved nature and enjoyed to bake, travel and read...  She was an aspiring drummer and an avid mogul skier showing no mercy to the steep, wintery slopes of Lake Tahoe.</p>
<p>Hannah lit up the world with her sweet smile; she is missed beyond measure and will be treasured in our hearts, always.</p>
