



<h1>Our Inspiration</h1>

<h2>Zachary</h2>
<p>Zachary David is Hannah’s younger cousin who has Cerebral Palsy, severe brain malformation, Hydrocephalus and is wheelchair dependent.  Zac has very little language and although he is extremely limited in fine and gross motor skills, he certainly makes up for that with in his infectious laugh, joyful spirit and capacity to genuinely love everyone he meets.</p>  

<p>Despite their obvious physical and intellectual differences, Zac and Hannah truly enjoyed each other’s company and were complete equals because of the love and friendship they shared together.</p>

<p>The inspiration behind Forging Friendships is Zac and Hannah’s uncommon kindness towards each other.  Cousins? Yes.  Friends? Ab-so-lutely!</p>
